:root{
    --escura: #270F49;
    --clara: #61428D;
    --branco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', 'Roboto';
    background-color: var(--escura);
    color: var(--branco);
    list-style: none;
}

body{
    font-size: 100%;
    overflow-x: hidden;
    padding: 3rem 7rem 1rem 0rem;
}

a:hover{
    cursor: pointer;
    border: var(--branco);
    opacity: 50%;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--branco);
}

.logo{
    margin-right: 400px;
    padding-left: 60px;
}

.nav_link{
    padding: 10px;
}

.nav_link:hover{
    border-bottom: var(--branco) dashed 2px;
}

main{
    display: flex;
    align-items: center;
}

.img_lp{
    margin-left: -190px;
    margin-top: 100px;
}

.page_content{
    color: var(--branco);
}

.title{
    font-size: 60px;
    text-align: end;
}

.text{
    font-size: 25px;
    text-align: end;
    padding: 20px 0 0 0;
}

.pacotes{
    margin: 3rem 8rem 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 670px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "title img"
    "text img"
    "preco img"
    ;
    gap: 40px;
}

.arraial_title{
    display: flex;
    grid-area: title;
    align-items: center;
    justify-content: space-between;
}

.arraial_cabo{
    font-size: 40px;
    grid-area: title;
}

.ver_mais:hover{
    cursor: pointer;
}

.ver_mais{
    padding-top: 15px;
}

.text_total{
    grid-area: text;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "setas texto"
    ;
}

.setas{
    display: flex;
    flex-direction: column;
    width: 30px;
    gap: 30px;
    grid-area: setas;
}

.arraial_topic{
    margin: 0px 0px 30px 10px ;
    font-size: 25px;
    grid-area: texto;
}

.img_arraial{
    width: 865px;
    grid-area: img;
    padding: -10px;
}