footer{
    background-color: var(--rodape);
    color: var(--branco);
    margin: 24px -47px -25px -47px ;
    padding: 24px;
}

.contato-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.text-contato{
    padding: 16px;
    margin: 16px;
    padding-top: 16px;
}

.contato-phone{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    width: 33%;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    width: 33%;
    height: auto;
    padding: 32px;
    margin-right: 32px;
    align-items: center;
    justify-content: end;
    gap: 24px;
    font-size: 30px;
}

#phone{
    padding-top: 0px;
    padding-left: 16px;
    margin-left: 16px;
    gap: 12px;
}

.phone-div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.logo-rodape{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: var(--branco);
}

@media screen and (max-width: 320px){
    footer{
        padding: 12px 12px 24px 12px;
    }

    .contato-phone {
        display: flex;
        width: 50%;
    }

    .phone-div p{
        white-space: nowrap;
    }

    .text-contato{
        font-size: 15px;
        padding: 12px;
        margin: 0 0 0 40px;
    }

    .phone-div{
        display: flex;
        margin: 0 0 0 20px;
        font-size: 10px;
        width: 8px;
    }

    .logo-rodape{
        display: none;
    }

    .redes-sociais{
        align-items: center;
        justify-content: center;
        padding: 4px 40px 4px 4px;
        margin: 4px;
        width: 50%;
        gap: 12px;
    }

    .social-item{
        font-size: 20px;
    }
}
