
header{
    width: 100%;
    padding: 14px 8px;
    position: sticky;
    background-color: var(--escura);
}

#navbar{
    width: 100%;
    display: flex; /*Deixa os itens na NAV BAR um do lado do outro*/
    align-items: center;
    justify-content: space-between;
}

#nav_list{
    display: flex; /*Deixa os itens da "div" list um do lado do outro. Não adianta colocar flex na nav bar e querer que a lista também fique com os itens um do lado do outro. Tem que imaginar os itens do menu como uma div diferente*/
    list-style: none;
    gap: 84px;
    align-items: center;
}

.nav-item a{
    font-weight: 400;
    color: var(--branco);
}

.nav-item:hover{
    cursor: pointer;
    border-bottom: 2px var(--clara) dashed;
}


