#home{
    display: flex;
    min-height: calc(100vh - 189px);
}

#text_menu{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    text-align: right;
    flex-wrap: wrap;
    margin-top: 250px;
}

.title{
    font-size: 3.5rem;
    color: var(--branco);
    justify-content: end;
}

.description{
    font-size: 1.5rem;
    color: var(--branco);
}

#img_lp{
    margin-left: -250px;
}

.btn-ver-mais{
    width: 150px;
    height: 40px;
}