#pacotes{
    color: var(--branco);
    padding: 36px;
}

.section-title{
    font-size: 40px;
    text-align: center;
    padding: 36px;
}

.arraial{
    justify-content: center;
    display: flex;
    padding: 24px;
    margin: 24px;
}

.pacotes-title{
    display: flex;
    gap: 24px;
    align-items: center;
}


.subtext{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 24px;
}

.topic{
    margin: 36px;
    margin-left: 0px;
}

.setas{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 36px;
    margin: 24px;
}

.seta{
    width: 40px;
    height: auto;
}

.texts-totais{
    color: var(--branco );
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.text-preco{
    display: flex;
    background-color: var(--clara);
    border-radius: 12px;
    padding: 18px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.banner-viagem{
    margin: 5%;
    align-content: center;
    justify-content: center;
}

#img_arraial{
    width: 700px;
    height: auto;
}

#img_mar{
    width: 700px;
    height: auto;
}

.mar{
    display: flex;
    justify-content: center;
}


