#sobre{
    padding: 36px;
    margin: 24px;
    display: flex;
    flex-direction: row;
    color: white;
}

.texto-sobre .title-text{
    font-size: 50px;
    padding: 36px;
    padding-left: 0;
}

.texto-sobre{
    width: 50%;
    font-size: 25px;
    padding: 36px;
}

.logo-sobre{
    width: 50%;
    justify-content: center;
    text-align: center;
}

.img-logo-sobre{
    width: 90%;
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    #sobre{
        display: flex;
        flex-direction: column-reverse;
        padding: 12px;
        margin: 12px;
        justify-content: center;
        align-items: center;
    }

    .logo-sobre{
        width: 100%;
    }
    
    .img-logo-sobre{
        width: 200px;
    }

    .texto-sobre{
        width: 100%;
        padding: 12px;
        justify-content: center;
    }

    .texto-sobre .title-text{
        font-size: 30px;
        padding: 0 0 12px 0;
    }

    .paragrafo-sobre{
        font-size: 15px;
        margin: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    #sobre{
        display: flex;
        flex-direction: column-reverse;
        padding: 12px;
        margin: 12px;
        justify-content: center;
        align-items: center;
    }

    .logo-sobre{
        width: 100%;
    }
    
    .img-logo-sobre{
        width: 200px;
    }

    .texto-sobre{
        width: 100%;
        padding: 12px;
        justify-content: center;
    }

    .texto-sobre .title-text{
        font-size: 30px;
        padding: 0 0 12px 0;
    }

    .paragrafo-sobre{
        font-size: 15px;
        margin: 12px;
        text-align: center;
    }
}